.game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  padding: 10px;
}

.game-area-element {
  margin: 5px;
}

.ui.card {
  padding: 10px;
  width: 15% !important;
}

.ui.card img {
  width: 100% !important;
}

#game-map {
  width: 620px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
}

.move-available {
  width: 60px;
  height: 60px;
  border: 1px dashed #e1b57d;
}

.move-available:hover {
  border: 0.3px dashed #513a1c;
}

.empty {
  width: 60px;
  height: 60px;
  background-color: #fafafa ;
}

.disabled {
  width: 60px;
  height: 60px;
  background-image: url("./img/fire.png");
  background-size: cover;
}

.sword {
  width: 60px;
  height: 60px;
  background-image: url("./img/sword.png");
  background-size: cover;
}

.nunchaku {
  width: 60px;
  height: 60px;
  background-image: url("./img/nunchaku.png");
  background-size: cover;
}

.kunai {
  width: 60px;
  height: 60px;
  background-image: url("./img/kunai.png");
  background-size: cover;
}

.shuriken {
  width: 60px;
  height: 60px;
  background-image: url("./img/shuriken.png");
  background-size: cover;
}

.knife {
  width: 60px;
  height: 60px;
  background-image: url("./img/knife.png");
  background-size: cover;
}

.player1 {
  width: 60px;
  height: 60px;
  background-image: url("./img/player-one.png");
  background-size: cover;
}

.player2 {
  width: 60px;
  height: 60px;
  background-image: url("./img/player-two.png");
  background-size: cover;
}

#choiceModal {
  visibility: hidden;
}

#restartModal {
  visibility: hidden;
}