#game-map {
  width: 660px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
}

.move-available {
  width: 60px;
  height: 60px;
  background-color: #F0E3F5;
  border: 0.3px solid #ffffff;
}

.empty {
  width: 60px;
  height: 60px;
  background-color: #fafafa ;
  border: 0.3px solid #ffffff;
}

.disabled {
  width: 60px;
  height: 60px;
  background-image: url("./img/fire.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.wand {
  width: 60px;
  height: 60px;
  background-image: url("./img/magic.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.sword {
  width: 60px;
  height: 60px;
  background-image: url("./img/sword.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.voodoo {
  width: 60px;
  height: 60px;
  background-image: url("./img/voodoo-doll.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.broom {
  width: 60px;
  height: 60px;
  background-image: url("./img/broom.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.poison {
  width: 60px;
  height: 60px;
  background-image: url("./img/poison.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.player1 {
  width: 60px;
  height: 60px;
  background-image: url("./img/player-one.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}

.player2 {
  width: 60px;
  height: 60px;
  background-image: url("./img/player-two.png");
  background-size: cover;
  border: 0.3px solid #ffffff;
}