body {
  position: relative;
}

.game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  padding: 10px;
}

.ui.cards {
  position: absolute;
  left: 25px;
  bottom: 25px;
  /* quand HUGE ecran: left et bottom +++ / 850px en height */
}

@media (min-height: 900px) {
  .ui.cards {
    bottom: 70px;
    left: 43%;
  }
}

.ui.card {
  height: 100%;
  width: 15vw;
  margin: 0;
  text-align: center;
}

.ui.card.content {
  padding: 50px;
}

.ui.card.player-img {
  width: 100% !important;
}

#choice-modal {
  display: none;
}

.ui.dimmer {
  color: #ffffff;
}

/* GAME MAP */

#game-map {
  width: 620px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
}

.move-available {
  width: 60px;
  height: 60px;
  border: 1px dashed #e1b57d;
}

.move-available:hover {
  border: 0.3px dashed #513a1c;
}

.empty {
  width: 60px;
  height: 60px;
  background-color: #fafafa ;
}

.disable {
  width: 60px;
  height: 60px;
  background-image: url("./img/fire.png");
  background-size: cover;
}

.sword {
  width: 60px;
  height: 60px;
  background-image: url("./img/sword.png");
  background-size: cover;
}

.nunchaku {
  width: 60px;
  height: 60px;
  background-image: url("./img/nunchaku.png");
  background-size: cover;
}

.kunai {
  width: 60px;
  height: 60px;
  background-image: url("./img/kunai.png");
  background-size: cover;
}

.shuriken {
  width: 60px;
  height: 60px;
  background-image: url("./img/shuriken.png");
  background-size: cover;
}

.knife {
  width: 60px;
  height: 60px;
  background-image: url("./img/knife.png");
  background-size: cover;
}

.p1 {
  width: 60px;
  height: 60px;
  background-image: url("./img/p1.png");
  background-size: cover;
}

.p2 {
  width: 60px;
  height: 60px;
  background-image: url("./img/p2.png");
  background-size: cover;
}